<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>资源分享网</title>
    <link rel="shortcut icon" href="/static/foreground/images/logomin.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/foreground/layui/css/layui.css"/>
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/layui/layui.js"></script>
</head>
<body>
    <div style="padding: 10px;padding-top: 15px; text-align: center;">
        <div style="float:left">
            下载地址：<a th:href="${article.download}" target="_blank" th:text="${article.download}"></a>
        </div>
        <div style="float:left;margin-top: 10px">
            密码：<font color="red" th:text="${article.password}"></font>
        </div>


    </div>
</body>
</html>