<ul class="fly-list">
    <li class="layui-hide-xs layui-this"><a href="/">全部</a></li>
    <li></li>
    <li th:each="arcTpye :${arcTypeList}">
        <a href="/article/10/1"></a>
        <a th:href="@{'/article/'+${arcTpye.arcTypeId()}+'/1' }"  th:utext="${arcTpye.arcTypeName}"></a>
    </li>
</ul>

<li class="layui-hide-xs layui-this"><a href="/article/"+ arcType.getArcTypeId()+"/1 ">"+arcType.getArcTypeName()+"</a></li>

<li class="layui-hide-xs layui-this"><a href="/">全部</a></li>
<li><a href="/article/10/1">Java语言基础</a></li>
<li><a href="/article/11/1">C语言</a></li><li><a href="/article/5/1">操作系统</a></li>
<li><a href="/article/12/1">数据库系统</a></li><li><a href="/article/9/1">计算机组成原理</a></li>
<li><a href="/article/14/1">算法</a></li><li><a href="/article/15/1">数据结构</a></li>
<li><a href="/article/13/1">JVM</a></li><li><a href="/article/19/1">python</a></li>
<li><a href="/article/20/1">C++</a></li>
<li><a href="/article/21/1">Java</a></li>